<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/{{user.id}}/edit" method="post">
        <input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}">
        <input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}">
        <input type="url" name="image_url" placeholder="Image URL" value="{{user.image_url}}">
        <button>Update Account</button>
    </form>
</body>
</html>